@model SoapStoreComIT.Views.ViewModels.SoapList

<br /><br />
      <div class="border backgroundWhite">
          <div class="row">
              <div class="col-6">
                  <h2 class="text-info">Soap List</h2>
              </div>
              <div class="cool-6 text-right">
                  <a asp-controller="Home" asp-action="CreateNewSoap" class="btn btn-info from-control text-white">Create New Soap</a>
              </div>
          </div>
          <br />


          <div class="col-12 border p-3 mt-3">
              <form method="post">
                  @if (@Model.Soaps.Count() > 0)
                  {
                      <table class="table-striped border">
                          <tr class="table-secondary">
                              <td>
                                  <label asp-for="Soaps.FirstOrDefault().Name"></label>
                              </td>
                              <td>
                                  <label asp-for="Soaps.FirstOrDefault().Weight"></label>
                              </td>
                              <td>
                                  <label asp-for="Soaps.FirstOrDefault().Price"></label>
                              </td>
                              <td>
                                  <label asp-for="Soaps.FirstOrDefault().Description"></label>
                              </td>
                              <td>
                                  <label asp-for="Soaps.FirstOrDefault().Ingridients"></label>
                              </td>
                              <td>
                                  <label asp-for="Soaps.FirstOrDefault().Quantity"></label>
                              </td>
                          </tr>
                          @foreach (var item in Model.Soaps)
                          {
                              <tr>
                                  <td>
                                      @Html.DisplayFor(m => item.Name)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(m => item.Weight)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(m => item.Price)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(m => item.Description)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(m => item.Ingridients)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(m => item.Quantity)
                                  </td>
                                  <td>
                                      <a asp-action="EditSoap" asp-route-id="@item.Id" class=" btn btn-primary btn-sm text-white">Edit</a>
                                      <a asp-action="DeleteSoap" asp-route-Id="@item.Id" class="btn btn-danger btn-sm text-white">Delete</a>
                                  </td>
                              </tr>
                          }
                      </table>
                  }
                  else
                  {
                      <p>There are no soaps available.</p>
                  }
              </form>
          </div>
      </div>







